<!DOCTYPE html lang="pt-br">
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <% if (token) { %>
            <h2>Seu token <%= token %></h2>
        <% } else { %>
            <h1>Não tem token</h1>
        <% } %>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    var axiosConfig = {
    headers: {
        Authorization: "Bearer " + localStorage.getItem("Token")
    }
};
    axios.get('http://localhost:8080/',axiosConfig)
        .then(res=>{
            const token = res.data.token;
            console.log(token);
            localStorage.setItem("Token", token)
        })
        .catch(error=>console.error(error));
    </script>
     
</html>
